# Estruturas de dados II

## Strings

String é a estrutura de dados utilizada para armazenar **textos**.

Confira a listagem a seguir:

In [2]:
# Listagem 1: Definindo uma variável do tipo string, ou alocando memória para um tipo string, ou instanciando um objeto de tipo string ou criando uma variável do tipo string

texto = "A casa de João é grande."

In [4]:
# Listagem 2: alterando uma string

texto = "A casa de João é pequena."
print(texto[0])

A

In [5]:
# Listagem 3: alterando um caracter de uma string

texto[0] = 'a'
print(texto)

TypeError: 'str' object does not support item assignment

In [6]:
texto

'A casa de João é pequena.'

In [7]:
id(texto)

1802856643056

In [8]:
# Listagem 4: convertendo um string em lista

lista_texto = list(texto)
print(lista_texto)
print(texto)

['A', ' ', 'c', 'a', 's', 'a', ' ', 'd', 'e', ' ', 'J', 'o', 'ã', 'o', ' ', 'é', ' ', 'p', 'e', 'q', 'u', 'e', 'n', 'a', '.']
A casa de João é pequena.

In [9]:
# Listagem 5: alterando lista_texto

lista_texto[0] = 'a'
print(lista_texto)

['a', ' ', 'c', 'a', 's', 'a', ' ', 'd', 'e', ' ', 'J', 'o', 'ã', 'o', ' ', 'é', ' ', 'p', 'e', 'q', 'u', 'e', 'n', 'a', '.']

In [10]:
# Listagem 6: convertendo lista em string

texto2 = lista_texto.join()
print(texto2)

AttributeError: 'list' object has no attribute 'join'

In [11]:
# Listagem 7: verificação parcial de strings

nome = "João da Silva"

nome.startswith("J")

True

In [12]:
nome.startswith("João")

True

In [13]:
# Listagem 8:

outro_nome = "João da Silva Antônio"

outro_nome.startswith("J")

True

In [14]:
# Listagem 9: determinando quantos alunos em uma turma tem o nome inciando com 'Pedro':
lista_alunos = ("Pedro Antônio", "Pedro da Silva", "Márcia")
contador = 0
for aluno in lista_alunos:
    if aluno.startswith("Pedro"):
        contador+=1
print(contador)

2

In [17]:
# Listagem 10: colocando todos os textos de uma string em maiúsculas:

texto3 = texto.upper()
print(texto3)

A CASA DE JOÃO É PEQUENA.

In [18]:
# Listagem 11: colocando todos os textos de uma string em minúsculas:

texto4 = texto.lower()
print(texto4)

a casa de joão é pequena.

# Dicionários

In [19]:
# Listagem 12: instanciando um dicionário

tabela = {"arroz": 0.5, "batata": 0.7, "carne": 0.9, "damascos": 0.1}
print(tabela)

{'arroz': 0.5, 'batata': 0.7, 'carne': 0.9, 'damascos': 0.1}

In [20]:
# Listagem 13: acessando dados no dicionário:

tabela["arroz"]

0.5

In [21]:
# listagem 14: alterando um balor na tabela

tabela["batata"] = 1.2
print(tabela)

{'arroz': 0.5, 'batata': 1.2, 'carne': 0.9, 'damascos': 0.1}

In [22]:
# Listagem 15: verificando se uma chave na tabela

print("arroz" in tabela)
print("casa" in tabela)

True
False

In [24]:
# Listagem 16: transformando usando dicionários como palnilhas

planilha = {"a1": "Nome", "b1": "Sobrenome", "a2": "Nelson", "a2": "Seixas"}

In [29]:
# Listagem 7: instanciando conjuntos

conjunto_1 = set([1,2,3,3])
print(conjunto_1)

conjunto_2 = {1,2,3,3}
print(conjunto_2)

conjunto_1 == conjunto_2
print(conjunto_1 == conjunto_2)

{1, 2, 3}
{1, 2, 3}
True

In [30]:
# listagem 18: determinar o número de nomes diferentes em uma turma

lista_alunos = ["José", "José", "João", "João", "Maria"]

conjunto = set(lista_alunos)
print(conjunto)

{'João', 'José', 'Maria'}